<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>imgName</key>
		<string>0</string>
		<key>name</key>
		<string>最终幻想</string>
		<key>intro</key>
		<string>经典中的经典</string>
		<key>author</key>
		<string>阿城</string>
		<key>detailIntro</key>
		<string>经典中的经典经典中的经典经典中的经典经典中的经典经典中的经典经典中的经典经典中的经典</string>
	</dict>
	<dict>
		<key>imgName</key>
		<string>1</string>
		<key>name</key>
		<string>名字</string>
		<key>intro</key>
		<string>呵呵</string>
		<key>author</key>
		<string>阿城</string>
		<key>detailIntro</key>
		<string>是空间按付款了大家萨拉附近的拉萨解放路口的解放军阿斯利康大几岁</string>
	</dict>
	<dict>
		<key>imgName</key>
		<string>2</string>
		<key>name</key>
		<string>波斯王子</string>
		<key>intro</key>
		<string>时空之刃</string>
		<key>author</key>
		<string>阿城</string>
		<key>detailIntro</key>
		<string>时空倒流时空倒流时空倒流时空倒流时空倒流时空倒流时空倒流时空倒流时空倒流时空倒流</string>
	</dict>
	<dict>
		<key>imgName</key>
		<string>3</string>
		<key>name</key>
		<string>东方</string>
		<key>intro</key>
		<string>小女巫</string>
		<key>author</key>
		<string>阿城</string>
		<key>detailIntro</key>
		<string>哈哈哈哈哈哈哈哈哈哈</string>
	</dict>
	<dict>
		<key>imgName</key>
		<string>4</string>
		<key>name</key>
		<string>fate</string>
		<key>intro</key>
		<string>saber</string>
		<key>author</key>
		<string>阿城</string>
		<key>detailIntro</key>
		<string>女神女神女神女神女神女神女神女神女神女神女神女神女神女神女神女神女神女神女神女神</string>
	</dict>
	<dict>
		<key>imgName</key>
		<string>5</string>
		<key>name</key>
		<string>saber</string>
		<key>intro</key>
		<string>卡通saber</string>
		<key>author</key>
		<string>阿城</string>
		<key>detailIntro</key>
		<string>卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊</string>
	</dict>
	<dict>
		<key>imgName</key>
		<string>5</string>
		<key>name</key>
		<string>saber</string>
		<key>intro</key>
		<string>卡通saber</string>
		<key>author</key>
		<string>阿城</string>
		<key>detailIntro</key>
		<string>卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊</string>
	</dict>
	<dict>
		<key>imgName</key>
		<string>5</string>
		<key>name</key>
		<string>saber</string>
		<key>intro</key>
		<string>卡通saber</string>
		<key>author</key>
		<string>阿城</string>
		<key>detailIntro</key>
		<string>卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊</string>
	</dict>
	<dict>
		<key>imgName</key>
		<string>5</string>
		<key>name</key>
		<string>saber</string>
		<key>intro</key>
		<string>卡通saber</string>
		<key>author</key>
		<string>阿城</string>
		<key>detailIntro</key>
		<string>卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊</string>
	</dict>
	<dict>
		<key>imgName</key>
		<string>5</string>
		<key>name</key>
		<string>saber</string>
		<key>intro</key>
		<string>卡通saber</string>
		<key>author</key>
		<string>阿城</string>
		<key>detailIntro</key>
		<string>卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊卡哇伊</string>
	</dict>
</array>
</plist>
